  <%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
    <% if @message.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>
            <li>
              <%= full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">  
      <label for="name" class="col-xs-1 control-label">名前：</label>
      <div class="col-xs-5">
      <%= f.text_field :name,:class=> "form-control",:id=> "name" %>
      </div>
    </div>
  
    <div class="form-group">
      <label for="body" class="col-xs-1 control-label">内容：</label>
      <div class="col-xs-10">
      <%= f.text_area :body,:class=> "form-control",:id=> "body" %>
      </div>
    </div>
    <br>
    <div class="form-group">
    <%= f.submit "送信", class: "btn btn-sm btn-primary col-xs-offset-1 col-xs-2" %>
    </div>
  <% end %>